h1 {
  text-align: center;
}

body {
  padding-top: 450px;
}

.fixed {
  position: fixed;
}

.navbar {
  margin-bottom: 1em;
}

.col-md-4 {
  text-align: center;
}

.hillary_pic {
  max-width: 40%;
}

.trump_pic {
  max-width: 40%;
}

.candidate_votes {
  font-size: 3em;
}

