h1 {
  text-align: center;
}

td {
  font-size: 1.4em;
}

td a {
  color: black;
  text-decoration: none;
}

.democrat {
  background-color: rgba(0,0,255,0.5);
  border: 2px solid rgba(0,0,255,1);
}

.republican {
  background-color: rgba(255,0,0,0.5);
  border: 2px solid rgba(255,0,0,1);
}

.navbar {
  margin-bottom: 1em;
}

.col-md-4 {
  text-align: center;
}

.hillary_pic {
  max-width: 20%;
}

.trump_pic {
  max-width: 20%;
}

.candidate_votes {
  font-size: 2.4em;
}

